version: 2.1

jobs:
  run_flask_tests:
    docker:
      - image: circleci/python:3.8

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt


      - run:
          name: Run Flask app tests
          command: python ad.py

  deploy:
    machine: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - "SHA256:9iPZ0nUQeQlqwPkNPYyZZvvzkxk7BZLZgN8YZeUvKn8"  # Your SSH key fingerprint
      - checkout
      - run:
          name: Deploy to server
          command: |
            ssh -o StrictHostKeyChecking=no root@209.182.239.192 "cd /py && git pull origin main"

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - run_flask_tests:
          filters:
            branches:
              only: main
      - deploy:
          requires:
            - run_flask_tests
          filters:
            branches:
              only: main
