version: 2.1

jobs:
  run_flask_tests:  # Job to run Flask tests
    docker:
      - image: circleci/python:3.8  # Python environment

    steps:
      - checkout  # Check out the source code

      # Install Python dependencies
      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

      # Run Flask app tests with extended timeout
      - run:
          name: Run Flask app tests
          command: python ad.py
          no_output_timeout: 20m  # Increase timeout limit to 20 minutes

  deploy:  # Job to deploy the application
    docker:
      - image: circleci/python:3.8  # Python environment for deployment
    steps:
      - checkout  # Check out the source code
      - run:
          name: Deploy to Server
          command: |
            scp -o StrictHostKeyChecking=no -r ./ad.py root@209.182.239.192:/root/py
            ssh -o StrictHostKeyChecking=no root@209.182.239.192 "cd /root/py && python ad.py"

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - run_flask_tests:  # This job runs the tests
          filters:
            branches:
              only: main  # Adjust to your branch name
      - deploy:  # This job deploys the application
          requires:
            - run_flask_tests  # Ensure deploy runs after tests
          filters:
            branches:
              only: main  # Adjust to your branch name
